h1 {
    color: red;
  }

.pdf-viewer {
    width: 100%;
    height: 500px; /* Adjust based on your preference */
}

@media (max-width: 768px) {
    .pdf-viewer {
        height: 300px; /* Adjust for smaller devices */
    }
}
